{% block menu %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
        <img src="{{ asset('assets/images/death-star.png') }}" width="4%" class="mx-2">
        <a class="navbar-brand" href="{{path('accueil')}}">E-Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('accueil')}}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('profil')}}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('catalogue')}}">Catalogue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('panier')}}">Panier</a>
                </li>                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Autres</a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{path('create_adresse')}}">Ajouter une adresse</a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('adresse_controler')}}">Mettre à jour mes adresses</a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('modifierPassword')}}"">Modifier le mot de passe</a>


                    </div>
                </li>
            </ul>
            <form class="d-flex">
            {% if app.User %}
            <div class="d-grid">
                <a class="nav-link active" type="button" href={{path('profil')}}><button
                    class="btn btn-lg btn-primary" type="button"><i class="fa-solid fa-user"></i> {{ app.user.prenom }}</button></a>
                <a class="nav-link active" type="button" href={{path('app_logout')}}>
                <button class="btn btn-lg btn-primary" type="button"><i class="fa-solid fa-right-from-bracket"></i></button></a>  
            </div>
            {% else %}
            <div class="d-grid">
                <a class="nav-link active" type="button" href={{path('app_login')}}><button
                   class="btn btn-lg btn-primary" type="button"><i class="fa-solid fa-arrow-right-to-bracket"></i></button></a>
                <a class="nav-link active" type="button" href={{path('inscription')}}><button
                   class="btn btn-lg btn-primary" type="button"><i class="fa-solid fa-file-signature"></i></button></a>
            </div>
            {% endif %}
        </form>
        </div>
</nav>

{% endblock  %}